body {
    font-family: 'Michroma', serif;
    color: white;
    background-color: black;
}

#header-container {
    max-width: 700px;
    margin-top: 48px;
}

h1 {
    font-family: 'Goldman', serif;
    font-size: 64pt;
    margin: 0;
    margin-top: -24px;
}

#subtitle {
    font-size: 16pt;
    margin: 0;
}

section {
    margin-top: 64px;
}
